# Dépendances
/node_modules
/.pnp
.pnp.js

# Build Next.js
/.next/
/out/
/build
next-env.d.ts

# Production
/dist

# Environnement
.env
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Divers
.DS_Store
*.pem
.vercel
.idea
.vscode
*.tsbuildinfo
